<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="EpicorHangfire" connectionString="Data Source=10.10.10.2;Initial Catalog=EpicorIntegrationHangfire;User ID=sa;Password=dmsgreenvet;Persist Security Info=True" />
    <add name="ERPAPPTRAINEntities" connectionString="metadata=res://*/Data.ERPAPPTRAIN.csdl|res://*/Data.ERPAPPTRAIN.ssdl|res://*/Data.ERPAPPTRAIN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERP;initial catalog=ERPAPPTRAIN;User ID=epicsql;Password=erp@greenvet1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPIntegrationEntities" connectionString="metadata=res://*/Data.ERPIntegration.csdl|res://*/Data.ERPIntegration.ssdl|res://*/Data.ERPIntegration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.2;initial catalog=EpicorIntegration;persist security info=True;user id=sa;password=dmsgreenvet;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_SessionModSvcContract" />
        <binding name="BasicHttpBinding_ABCCodeSvcContract" />
        <binding name="BasicHttpBinding_PartSvcContract" />
        <binding name="BasicHttpBinding_PriceLstPartsSvcContract" />
        <binding name="BasicHttpBinding_CustomerSvcContract" />
        <binding name="BasicHttpBinding_POSvcContract" />
        <binding name="BasicHttpBinding_ARInvoiceSvcContract" />
        <binding name="BasicHttpBinding_PartTranSvcContract" />
        <binding name="BasicHttpBinding_SalesOrderSvcContract" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_SessionModSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_ABCCodeSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_PartSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_PriceLstPartsSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_CustomerSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_POSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_ARInvoiceSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_PartTranSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_SalesOrderSvcContract">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding />
          <windowsStreamSecurity />
          <tcpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://erp.greenvet.com/Epicor101/Erp/BO/ABCCode.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ABCCodeSvcContract" contract="Epicor.AbcCodeSvc.ABCCodeSvcContract" name="BasicHttpBinding_ABCCodeSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Erp/BO/ABCCode.svc" binding="customBinding" bindingConfiguration="CustomBinding_ABCCodeSvcContract" contract="Epicor.AbcCodeSvc.ABCCodeSvcContract" name="CustomBinding_ABCCodeSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
      <endpoint address="http://erp.greenvet.com/Epicor101/Erp/BO/ARInvoice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ARInvoiceSvcContract" contract="Epicor.ARInvoiceSvc.ARInvoiceSvcContract" name="BasicHttpBinding_ARInvoiceSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Erp/BO/ARInvoice.svc" binding="customBinding" bindingConfiguration="CustomBinding_ARInvoiceSvcContract" contract="Epicor.ARInvoiceSvc.ARInvoiceSvcContract" name="CustomBinding_ARInvoiceSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
      <endpoint address="http://erp.greenvet.com/Epicor101/Erp/BO/Customer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CustomerSvcContract" contract="Epicor.CustomerSvc.CustomerSvcContract" name="BasicHttpBinding_CustomerSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Erp/BO/Customer.svc" binding="customBinding" bindingConfiguration="CustomBinding_CustomerSvcContract" contract="Epicor.CustomerSvc.CustomerSvcContract" name="CustomBinding_CustomerSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
      <endpoint address="http://erp.greenvet.com/Epicor101/Erp/BO/Part.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PartSvcContract" contract="Epicor.PartSvc.PartSvcContract" name="BasicHttpBinding_PartSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Erp/BO/Part.svc" binding="customBinding" bindingConfiguration="CustomBinding_PartSvcContract" contract="Epicor.PartSvc.PartSvcContract" name="CustomBinding_PartSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
      <endpoint address="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PartTranSvcContract" contract="Epicor.PartTranSvc.PartTranSvcContract" name="BasicHttpBinding_PartTranSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc" binding="customBinding" bindingConfiguration="CustomBinding_PartTranSvcContract" contract="Epicor.PartTranSvc.PartTranSvcContract" name="CustomBinding_PartTranSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
      <endpoint address="http://erp.greenvet.com/Epicor101/Erp/BO/PO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_POSvcContract" contract="Epicor.POSvc.POSvcContract" name="BasicHttpBinding_POSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Erp/BO/PO.svc" binding="customBinding" bindingConfiguration="CustomBinding_POSvcContract" contract="Epicor.POSvc.POSvcContract" name="CustomBinding_POSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
      <endpoint address="http://erp.greenvet.com/Epicor101/Erp/BO/PriceLstParts.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PriceLstPartsSvcContract" contract="Epicor.PriceLstPartsSvc.PriceLstPartsSvcContract" name="BasicHttpBinding_PriceLstPartsSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Erp/BO/PriceLstParts.svc" binding="customBinding" bindingConfiguration="CustomBinding_PriceLstPartsSvcContract" contract="Epicor.PriceLstPartsSvc.PriceLstPartsSvcContract" name="CustomBinding_PriceLstPartsSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
      <endpoint address="http://erp.greenvet.com/Epicor101/Erp/BO/SalesOrder.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SalesOrderSvcContract" contract="Epicor.SalesOrderSvc.SalesOrderSvcContract" name="BasicHttpBinding_SalesOrderSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Erp/BO/SalesOrder.svc" binding="customBinding" bindingConfiguration="CustomBinding_SalesOrderSvcContract" contract="Epicor.SalesOrderSvc.SalesOrderSvcContract" name="CustomBinding_SalesOrderSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
      <endpoint address="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SessionModSvcContract" contract="Epicor.SessionModSvc.SessionModSvcContract" name="BasicHttpBinding_SessionModSvcContract" />
      <endpoint address="net.tcp://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc" binding="customBinding" bindingConfiguration="CustomBinding_SessionModSvcContract" contract="Epicor.SessionModSvc.SessionModSvcContract" name="CustomBinding_SessionModSvcContract">
        <identity>
          <userPrincipalName value="erpadmin@greenvet.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>